name: fp4
services:
  # proxies localhost:3000 to containers based on rules in envoy.yaml
  envoy:
    image: envoyproxy/envoy-distroless-dev
    entrypoint: envoy
    command: [ "-l", "warn", "-c", "/etc/envoy.yaml", "--service-cluster", "envoy"]
    volumes:
      - ./envoy.yaml:/etc/envoy.yaml # Envoy configuration
    expose:
      - "3000" # Forward to proxied apps
      - "3001" # Envoy admin page
    ports:
      - "3000:3000"
      - "3001:3001"
  api:
    build:
      context: ./api
      dockerfile_inline: |
        FROM denoland/deno:alpine
        USER deno
        WORKDIR /app/api
        CMD ["run", "-P", "main.ts" ]
    env_file: ./api/.env
    expose:
      - 3000
    volumes:
    # bind mount the contents of the current directory into the container
    - type: bind
      source: ./api/
      target: /app/api
  ui:
    build:
      context: ./ui
      dockerfile_inline: |
        FROM denoland/deno:alpine
        USER deno
        WORKDIR /app/ui
    user: "1000:1000"
    expose:
      - 3000
    command: task dev
    volumes:
      - type: bind
        source: ./ui/
        target: /app/ui
volumes:
  driver: {}
