@layer reset, base, tokens, recipes, utilities;

@font-face {
  font-family: "Overused Grotesk";
  src: url("../static/font/OverusedGrotesk-VF.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: fallback;
}

body {
  font-family: 'Overused Grotesk';
}
