{
	default_bind 0.0.0.0
}

:3000 {
	encode gzip zstd
	handle {
		root * ./dist
		try_files {path} /index.html
		file_server
	}
	handle /static/* {
		root * ./dist
		file_server
		header Cache-Control "public, max-age=31536000, immutable"
	}
}
